@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
@using (Html.BeginForm("AdminAdd", "Authorization", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Admin Kullanıcı Adı")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Şifreyi Giriniz")
    @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Role")
    @Html.DropDownListFor(x => x.RoleId, (List<SelectListItem>)ViewBag.role, "-- Rol Seçiniz  --", new { @class = "form-control" })
        <br />
        <button class=" btn btn-outline-success">Admin Ekle</button>
</div>
}

