
@{
    Layout = null;
}

<h2 style="text-align:center;">İSTATİSTİKLER</h2>

<div style="float:left;margin-top:20px;">

    <div style="border-radius: 4px; float: left; display: inline-block; height: 200px; width: 300px; margin: 10px; background-color: yellow">

        <div>
            <p style="text-align:center;padding-top:50px">Toplam Kategori Sayısı</p>
            <p style="text-align: center;">@ViewBag.kategorisayisi</p>
        </div>

    </div>
    <div style=" border-radius:4px;float:left;display:inline-block;height:200px;width:300px;margin:10px;background-color:yellow">

        <div>
            <p style="text-align:center;padding-top:50px">Yazılım Kategorsine Ait Başlık Sayısı</p>
            <p style="text-align: center;">@ViewBag.yazilimkategorisi</p>
        </div>

    </div>
    <div style="border-radius: 4px; float: left; display: inline-block; height: 200px; width: 300px; margin: 10px; background-color: yellow">

        <div>
            <p style="text-align:center;padding-top:50px">Yazar isminde "a" harfi olan sayısı</p>
            <p style="text-align: center;">@ViewBag.yazarAharf</p>
        </div>

    </div>
    <div style="border-radius: 4px; float: left; display: inline-block; height: 200px; width: 300px; margin: 10px; background-color: yellow">

        <div>
            <p style="text-align:center;padding-top:50px">En fazla başlığa sahip kategori adı</p>
            <p style="text-align: center;">@ViewBag.enfazlakategori</p>
        </div>

    </div>
    <div style="border-radius: 4px; float: left; display: inline-block; height: 200px; width: 300px; margin: 10px; background-color: yellow">

        <div>
            <p style="text-align:center;padding-top:50px">Kategori Durumu True Olanların Sayısı</p>
            <p style="text-align: center;">@ViewBag.durum_true</p>
        </div>

    </div>
</div>




@*<div style="height:150px; width:200px; background-color:yellow;border-radius:3px; margin-left:300px;margin-top:100px;">
        <p style="text-align:center; padding-top:50px">Toplam Kategori</p>
        <p style="text-align:center;">@ViewBag.mesaj</p>
    </div>
    <div style="height:150px; width:200px; background-color:yellow;border-radius:3px; margin-left:300px;margin-top:100px;">
        <p style="text-align:center; padding-top:50px">Toplam Kategori</p>
        <p style="text-align:center;">@ViewBag.mesaj</p>
    </div>
    <div style="height:150px; width:200px; background-color:yellow;border-radius:3px; margin-left:300px;margin-top:100px;float:left">
        <p style="text-align:center; padding-top:50px">Toplam Kategori</p>
        <p style="text-align:center;">@ViewBag.mesaj</p>
    </div>*@

